@import url("https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100;200;300;400;500;600;700&display=swap");

body {
    background: #f7f7f7;
    font-family: "Noto Kufi Arabic", sans-serif;
}

td,
th {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    border-bottom: 1px solid #f3f3f3;
    font-size: 14px;
}

.fixed {
    z-index: 11;
}

.ml-4.flex-1 {
    margin-left: 0px;
    margin-right: 30px !important;
}

thead th {
    border-bottom: 1px solid #ddd !important;
}

.aside * {
    color: #fff;
}

.aside,
.main-content,
.top-nav {
    transition: 0.2s ease-in-out;
}


.aside .item.active {
    background: #101d30;
    color: #38b59c;
}

.aside .item:hover{
    background-color: #101d30;
    color: #38b59c ;
}

* {
    text-decoration: unset !important;
}

.main-content {
    width: calc(100% - 280px);
    margin-right: 280px;
}

.top-nav {
    width: calc(100% - 280px);
}



.aside .item div {
    font-size: 16px;
}

.aside.active {
    right: 0px;
}

.aside.in-active {
    right: -280px;
}

.item {
    padding: 12px 0px 15px 0px;
    margin: 2px 0px;
}

.main-content.active .top-nav {
    width: 100% !important;
}

@media (max-width: 700px) {
    .main-content {
        width: 100% !important;
        margin-right: 0px !important;
    }

    .top-nav {
        width: 100% !important;
    }

    .aside {
        right: -280px;
    }

    .aside.active {
        right: -280px;
    }

    .aside.in-active {
        right: 0px;
    }
}

@media (min-width: 700px) {
    .main-content.active {
        width: 100% !important;
        margin-right: 0px !important;
    }
}

.ck[dir="rtl"],
.ck[dir="rtl"],
.ck,
.ck * {
    text-align: right;
}
